body {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

footer {
  text-align: center;
  color: midnightblue;
  margin-top: 30px;
}

.kapon {
  color: midnightblue;
  font-weight: bold;
}

.tapon {
  color: crimson;
  font-weight: bold;  
}

.tile-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  object-fit: cover;
}

.card {
  width: 100%;
  margin-bottom: 30px;
  text-align: justify;
}

.logo {
  width: 100px;
}

.creative {
  color: midnightblue;
}

/* Larger screens (e.g., tablets, desktops) */
@media (min-width: 681px) {
  body {
    margin: 50px;
  }

  h1 {
    font-size: 5rem;
    text-align: left;
  }

  footer {
    text-align: right;
  }

  .card {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
  }

  .tile-image {
    height: 200px;
    float: left;
    margin-right: 50px;
    width: auto;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }
}
